<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cricket Fever</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../libs/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/model.js"></script>
    <script src="../js/controller.js"></script>
</head>
<body ng-app="crickapp" ng-controller="crickCtrl">
    <div class="container">
      <label for="">Choose Your Player</label>
       <select ng-model="playerId">
        <option selected value="28081">MS Dhoni</option>
        <option value="253802">Virat Kohli</option>
        <option value="235902">Rohit Sharma</option>
    </select>
    
    <button ng-click="searchByPid()">Submit</button>
    {{showIt}}
    <div ng-show="showIt">
       <ul>
        <li>Name :: {{result.data.fullName}}</li>
        <li>Image :: <img ng-src='{{result.data.imageURL}}'></li>
        <li>Country :: {{result.data.country}}</li>
    </ul>
    </div>
</div>
</body>
</html>